<!DOCTYPE html>

<html>

<head>
  <title>WebAudio Csound</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no" />
  <meta property="og:title" content="PAW Materials" />
  <meta property="og:description" content="A set of WebAudio Csound demos
  and templates for the programmable audio workshop" />
  <meta property="og:image" content="http://waaw.csound.com/og_image.png" />
  <meta property="og:url" content="http://waaw.csound.com/index.html" />

  <style type="text/css">
    html,
    body {
      font-family: Monospace;
      color: #bf94f7;
      background-color: #000055;
      font-size: 20px;
    }

    A {
      color: #FFFFFF;
    }

    A:link {

      text-decoration: none;
    }

    H1 {
      font-size: 36px;
    }
  </style>
</head>

<body>
  <h1 id="PAW templates">WebAudio Csound Templates</h1>

<ul>

<li> <a href="basic.html>basic.html</a>: a simple template for the
  csound.js frontend including minimal code and a message
  console. </li>

 <li> <a href="basic2.html>basic.html</a>: a simple template for the
  CsoundObj API including minimal code, a message console,
  oscilloscope and spectrum displays. </li>
 </ul>


</body>

</html>
